# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/
ENV/

# IDE/editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Secrets
.env
*.key
*.pem

# Directory specific
archive/
reports/
IRIS/*.html
# Ignore the top-level reports directory inside IRISX
reports/

# Do NOT ignore the reports directory inside IRISX/IRIS
!IRIS/reports/